// Header[banner] module Part
// ====================================================================

header[role='banner'] {
  margin-top: -20px;
  height: 42px;
  span.outer_banner {
    div#banner_toggle {
      h1.main-link-headline {
        text-align: center;
        font-family: museo-slab;
        @include at-breakpoint($M) {
          text-align: right;
          margin-right: 2%;
        }
        @include at-breakpoint($L) {
       margin-top: 0;
        }
        a {
          color: black;
          border-bottom: none;
        }
      }
      a.sidebar-button {
        // The actual button to trigger the show/hide of the off canvas area
        display: block;
        color: rgb(0, 0, 0);
        margin-top: -3.3em;
        margin-left: 2%;
        font-family: "sacfd";
        position: absolute;
        border-bottom: none;
        font-size: 1em;
        color: $color10;
      }
      a#sidebar_button {

      }
    }
    div.banner_new {
      background: rgba(255, 255, 255, 0.7);
      //@include box-shadow(rgb(204, 204, 204) 0 1px 8px);
      @include at-breakpoint($L) {
        position: fixed;
        height: 44px;
        left: 0;
        right: 0;
        top: 0;
        z-index: 9999;
      }
    }
  }
}



// Off-Canvas Navigation Part
//

// Main navigation links
// ====================================================================
body.active {
  nav[role='navigation'] {
    ul.chapter-list {
      margin-top: 5em;
      @include squish(1, 1, 9);
      a {
        color: $color11;
        font-size: 1em;
        display: block;
        padding: .5em;
        opacity: .8;
        border: none;
        &:hover {
          opacity: 1;
        }
        &:visited {
          opacity: .9;
        }

        b {
          display: block;
        }
      }
      text-align: center;
      li {
        font-size: 1.1em;
      }
    }
    #sociallinks {
      h3 {
        position: relative;
        margin-top: 20px;
        color: $color11;
      }
      h3.one {
        margin-top: 0;
      }
      h3.one:before {
        content: "";
        display: block;
        border-top: solid 1px white;
        width: 100%;
        height: 1px;
        position: absolute;
        top: 50%;
        z-index: 1;
      }
      h3.one span {
        background: black;
        padding: 0 20px;
        position: relative;
        z-index: 5;
      }
    }
    #about_me {
      @extend #sociallinks;
      @extend ul.chapter-list;
      .about-img-wrap p {
        font-style: italic;
        text-align: center;
      }
      p {
        color: $color12;
        text-align: left;
        line-height: 1.5;
      }
    }
    #search {
      @extend #sociallinks;
      @extend ul.chapter-list;
    }
    #categories {
      @extend #sociallinks;
      @extend ul.chapter-list;
    }
  }
}

// Menu Button for show/hide off-Canvas Navigation
// ====================================================================
/*.off-canvas-navigation {
  display: block;
  width: 100%;
  float: left;
  margin: 20px 0 10px 0;
  // Hide at medium+ viewport sizes:
  @include at-breakpoint($M) {
	//display: none;
  }
}*/

// Purchase links module
// ====================================================================
/*.purchase-links-wrapper {
  list-style: none;
  margin: 30px 0 0 0;
}*/

// Main Image
// ====================================================================

#main_image {
  background-image: image-url('ellen-header.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover !important;
  height: auto;
  min-height: 250px;
  //margin-top: 3.2em;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
  @include at-breakpoint($M) {
    min-height: 480px;
  }
  @include at-breakpoint($L) {
    //margin-top: -1em;
    min-height: 700px;
    background-size: cover !important;
    margin-top: -25px;
  }
  @include at-breakpoint($XL) {
    background-size: cover !important;
    height: 900px;

  }

  .headline {
    color: #fff;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.25;
  }
  a {
    //display: none;
    @include at-breakpoint($M) {
      display: block;
      border-bottom: none;
    }
  }
  p {
    color: #fff;
    font-style: italic;
  }
}

.main-content {
  background-color: $color11;
}

//masonry

#content {
  /*width: 980px;*/
  /*width: 95%;*/
  //width: auto;
  margin: 0.3em auto;
}

.item {
  display: block;
  float: left;
  width: 300px;
  margin: 0.5em 20px 20px 0;
  -webkit-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  -moz-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  -ms-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  -o-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  transition: left .4s ease-in-out, top .4s ease-in-out .4s;

}

.featured {
  width: 620px;
}

.item img {
  width: 300px;
  height: auto;
}

.featured img {
  width: 620px;
  height: auto;
}

// Styling Icons
// ====================================================================
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;

}

span.icon-heart {
  color: red;
  display: none;
}


